header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-image: url(../images/cartographer.png);
  background-color: #ADADAD;
}

header h2 {
  color: #FFFFFF
}

div {
  display: flex;
  justify-content: center;
}

div img {
  margin-top: 10px;
}



